
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sure Tips Kenya- Leading Football Betting Tips</title>
    <meta name="description" content="Win Everyday with 100% sure betting tips on Betika Tips.Get correct scores, HT/FT bets, Betika midweek Jackpot, Betika grand jackpot predictions and free tips daily.">
    <meta name="keywords" content="Betika Tips, fixed football matches, Correct scores, HF/FT bets, betika midweek jackpot,betika grand jackpot,sportpesa mega jackpot, sportpesa midweek jackpot,betika tips today,weekly betting tips,free football prediction,daily free tips, Win Daily tips, soccer tips">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link type="text/css"rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" rel="stylesheet"  href="{% static 'css/sidebar-1.css' %}">
    <link  type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="https://use.fontawesome.com/00d23fb2c6.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LQL3GSXXEM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LQL3GSXXEM');
    </script>
    {% block head %}{% endblock %}
</head>


<body>
    <div class="container-fluid" id="topContent">
        <p class="mx-auto"><span class="w3-text-white p-1">Call Us : <a href="tel:0712141098">0712141098 </a> | <a href="tel:0707119271">0707119271</a></span></p>
    </div>

    <nav class="navbar navbar-inverse" id="app-navbar" style="border-style: none;">
    <div class="container-fluid">
    <!-- <p class="w3-text-white" style="width: 100%;" style="font-weight:500"><i class="fa fa-phone"></i> : 0742 884 997 / 0754 281 001</p> -->
        <a class="navbar-brand" href="/">
            Home
        </a>

        <div class="" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
            <!-- <li>
                <span class="w3-text-white" style="padding-right:50px;font-weight:500"><i class="fa fa-phone"></i> : 0742 884 997 / 0754 281 001</span>
            </li> -->

                <li class="nav-item">
                        <a href="/sign-out" class="btn btn-outline-dark" >Sign Out</a>
                    </li>

                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
    </nav>

<style>
    .form-control:focus {
        color: #000;
        background-color: #fff;
        border: 2px solid rgba(70, 130, 180, 1);
        outline: 0;
        box-shadow: none;
    }
</style>
    <section class="profile-section">

        <div class="container" style="margin-top:-10px;">
            <h1 class="text-uppercase past-tips-title w3-large w3-text-white" style="padding-top:30px;text-align:right;">MOBILE NUMBER:{{ user.phone_number }}</h1>
 {% if games %}
            <h2 class="text-white w3-large w3-margin-top" style="font-family: 'Space Mono', monospace;">Your {{ transaction.group.title }}
                | Sure Bets [ From <span class="w3-text-red">{{ transaction.date_modified }}</span> To <span class="w3-text-red">{{ transaction.date_expired }} </span> ]</h2>


            <div class="past-tips py-1 shadow-lg" style="background-color: #FFFFFF">

            <p class="w3-white w3-large px-3" style="font-family: 'Space Mono', monospace;">Please Separate Slips!</p>
                <div class="col-md-12 search-table-col">
                    <!-- <h3 class="text-white" style="font-family: Montserrat, sans-serif;">VIP Tips<span class="float-right text-danger total-odds">Total Odds: 357.98</span></h3> -->

                                        <div class="table-responsive table table-hover table-borderless results">

                                        <table class="table table-hover">
                            <thead class="bill-header cs">
                            <tr><h5 style="font-family:Montserrat, sans-serif; color: black">Bet Slip</h5></tr>
                                <tr>
                                    <!--<th id="trs-hd">&nbsp;No.</th>-->
                                    <th id="trs-hd">Game Id</th>
                                    <th id="trs-hd">Teams</th>
                                    <th id="trs-hd">Tip</th>
                                    <th id="trs-hd">Odds</th>
                                    <th id="trs-hd">Date</th>
                                    <th id="trs-hd">Time</th>
                                    <!-- <th id="trs-hd">Result(HT-FT)</th>
                                    <th id="trs-hd">Won</th> -->
                                </tr>
                            </thead>

                                        {% for game in games %}
                                <tr style="color: black">

                                <!--<td>{{ game.number }}</td>-->
                                    <td>{{ game.game_id }}</td>
                                    <td>{{ game.home_team }}- {{ game.away_team }}</td>
                                    <td>{{ game.tip }}</td>
                                    <td>{{ game.odds }}</td>
                                    <td>{{ game.date.date }}</td>
                                    <td>{{ game.time.time }}</td>


                                </tr>
                                      {% endfor %}

                            </tbody>



                                                    </table>

                    </div>
                                        <div class="table-responsive table table-hover table-borderless results">

                                            </table>

                    </div>
                                    </div>
            </div>
                         <p><span class="float-left mt-3 text-danger w3-medium">Subscription Ends on: {{ transaction.date_expired }}</span></p>
                                                {% else %}
                                        <div class="col-md-12">
                                            <p style="color:white"> No Games Available: Ensure you paid the specified amount and wait for 1-5 minutes and refresh this page</p>
                                        </div>
                                {% endif %}
        </div>
    </section>
    <div class="row" style="background-color:#fff;">
        <div class="col">
            <div class="text-center" style="padding:20px;background-color:rgba(0,0,0,0.9);color:#fff;font-size:8px;">
                <h3 class="text-center" style="margin-top: 20px;font-size: 14px;font-family: Montserrat, sans-serif;">Copyright&nbsp; <i class="fa fa-copyright"></i>&nbsp;2021. All Rights Reserved.</h3>
            </div>
        </div>
    </div>
    <!-- Password -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fix-navbar.js' %}"> </script>
     <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

  <script>
    function toast(message, type) {
      bootoast.toast({
        position: 'leftBottom',
        message,
        type,
      });
    }

    {% if messages %}

    {% for message in messages %}
    toast('{{ message }}', '{{ message.tags }}');
    {% endfor %}

    {% endif %}
  </script>
    <script>
         $('.modal').on('show.bs.modal', function () {
        if ($(document).height() > $(window).height()) {
            // no-scroll
            $('body').addClass("modal-open-noscroll");
        }
        else {
            $('body').removeClass("modal-open-noscroll");
        }
    });
        </script>
</body>

</html>
